<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>NPMify</title>
    <link rel="stylesheet" href="assets/npmify.css" />
</head>
    <body>
        <div class="header">
            <h1><span class="outdatedCount">{{ .OutdatedCount }}</span> out of {{ .TotalDependencies }} dependencies are outdated.</h1>
        </div>
        <div class="header hidden">
            <px-marquee data-outdated="{{ .OutdatedCount }}" data-total="{{ .TotalDependencies }}"></px-marquee>
        </div>
        <div class="filters">
            <button data-filter="outdated" class="filter btn">Remove Outdated</button>
            <button data-filter="current" class="filter btn">Remove Current</button>
            <label for="searchFilter">Filter <input type="text" id="searchFilter" class="searchFilter" value="" placeholder="Package name" /></label>
            <button data-filter="reset" class="filter btn">Reset</button>
        </div>
        <div class="container">
            <div id="app"></div>
        </div>

        <button class="makeFancy btn">🎉</button>

        <script src="assets/npmify.js"></script>
    </body>
</html>