<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>NPMify</title>
</head>
    <body>
        <ul>
            <li>
                <p><strong>Name</strong>: {{ .Name }}</p>
                <p><strong>Description</strong>: {{ .Description }}</p>
            </li>
        </ul>
    </body>
</html>